@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
:root {
    --titulo: hsl(14, 45%, 36%);
    font-family: 'Outfit', sans-serif; 
    

}

body p {
    font-size: 16px;

}
.attribution { 
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    margin: 0;
} 

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    margin: 0;
    
}
.imagem {
    background-image: url(../assets/images/image-omelette.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0;
    width: 98vw;
    height: 25vh;
}

.main-title {
    line-height: 1;
    font-family: "Young Serif", serif;
    font-style: normal;
    margin: 1.5rem;
    font-size: 2rem;
}

.text {
    margin: 1.5rem;
    font-weight: 500;
    font-size: 1.023rem;
    color: rgb(75, 75, 75);
    line-height: 1.4;
    justify-content: left;    
}

.preparation h2 {
    color: hsl(332, 84%, 30%);
    line-height: 1;
    font-size: 1.25rem;
}

.preparation ul {
    padding-left: 1.5rem;

}

.preparation li {

}

ul li::marker {
    color: hsl(332, 84%, 30%);
    font-size: 1rem;
}


.preparation {
    background-color: hsl(330, 100%, 98%);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    margin: 2rem;
    font-weight: 500;
    font-size: 1.023rem;
    color: rgb(75, 75, 75);
    line-height: 1.7;
    justify-content: left;    
}